body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2971 {
  position:absolute;
  left:37px;
  top:54px;
  width:375px;
  height:667px;
}
#u2972 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2973 {
  position:absolute;
  left:337px;
  top:68px;
  width:1px;
  height:16px;
}
#u2974 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u2975 {
  position:absolute;
  left:37px;
  top:54px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u2976 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2977 {
  position:absolute;
  left:37px;
  top:54px;
  width:375px;
  height:20px;
}
#u2978 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2979 {
  position:absolute;
  left:47px;
  top:85px;
  width:12px;
  height:20px;
}
#u2980 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2981 {
  position:absolute;
  left:133px;
  top:340px;
  width:183px;
  height:16px;
}
#u2982 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2984 {
  position:absolute;
  left:517px;
  top:54px;
  width:375px;
  height:667px;
}
#u2985 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2986 {
  position:absolute;
  left:817px;
  top:68px;
  width:1px;
  height:16px;
}
#u2987 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u2988 {
  position:absolute;
  left:517px;
  top:54px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u2989 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2990 {
  position:absolute;
  left:517px;
  top:54px;
  width:375px;
  height:20px;
}
#u2991 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2992 {
  position:absolute;
  left:527px;
  top:85px;
  width:12px;
  height:20px;
}
#u2993 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
}
#u2994 {
  position:absolute;
  left:517px;
  top:198px;
  width:375px;
  height:77px;
}
#u2995 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2996 {
  position:absolute;
  left:528px;
  top:208px;
  width:108px;
  height:19px;
  font-size:16px;
}
#u2997 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u2998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2998 {
  position:absolute;
  left:528px;
  top:237px;
  width:331px;
  height:32px;
  color:#666666;
}
#u2999 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u3000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u3000 {
  position:absolute;
  left:817px;
  top:210px;
  width:63px;
  height:16px;
  color:#FF6600;
}
#u3001 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u3002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
}
#u3002 {
  position:absolute;
  left:517px;
  top:275px;
  width:375px;
  height:77px;
}
#u3003 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3004 {
  position:absolute;
  left:528px;
  top:285px;
  width:108px;
  height:19px;
  font-size:16px;
}
#u3005 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u3006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3006 {
  position:absolute;
  left:528px;
  top:314px;
  width:331px;
  height:32px;
  color:#666666;
}
#u3007 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u3008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u3008 {
  position:absolute;
  left:817px;
  top:287px;
  width:63px;
  height:16px;
  color:#FF6600;
}
#u3009 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u3010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
}
#u3010 {
  position:absolute;
  left:517px;
  top:352px;
  width:375px;
  height:77px;
}
#u3011 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3012 {
  position:absolute;
  left:528px;
  top:362px;
  width:108px;
  height:19px;
  font-size:16px;
}
#u3013 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u3014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3014 {
  position:absolute;
  left:528px;
  top:391px;
  width:331px;
  height:32px;
  color:#666666;
}
#u3015 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u3016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u3016 {
  position:absolute;
  left:817px;
  top:364px;
  width:63px;
  height:16px;
  color:#FF6600;
}
#u3017 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u3018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
}
#u3018 {
  position:absolute;
  left:517px;
  top:429px;
  width:375px;
  height:77px;
}
#u3019 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3020 {
  position:absolute;
  left:528px;
  top:439px;
  width:108px;
  height:19px;
  font-size:16px;
}
#u3021 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u3022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3022 {
  position:absolute;
  left:528px;
  top:468px;
  width:331px;
  height:32px;
  color:#666666;
}
#u3023 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u3024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u3024 {
  position:absolute;
  left:817px;
  top:441px;
  width:63px;
  height:16px;
  color:#FF6600;
}
#u3025 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u3026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
}
#u3026 {
  position:absolute;
  left:517px;
  top:506px;
  width:375px;
  height:77px;
}
#u3027 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3028 {
  position:absolute;
  left:528px;
  top:516px;
  width:108px;
  height:19px;
  font-size:16px;
}
#u3029 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u3030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3030 {
  position:absolute;
  left:528px;
  top:545px;
  width:331px;
  height:32px;
  color:#666666;
}
#u3031 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u3032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u3032 {
  position:absolute;
  left:817px;
  top:518px;
  width:63px;
  height:16px;
  color:#FF6600;
}
#u3033 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u3034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
}
#u3034 {
  position:absolute;
  left:517px;
  top:583px;
  width:375px;
  height:77px;
}
#u3035 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3036 {
  position:absolute;
  left:528px;
  top:593px;
  width:108px;
  height:19px;
  font-size:16px;
}
#u3037 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u3038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3038 {
  position:absolute;
  left:528px;
  top:622px;
  width:331px;
  height:32px;
  color:#666666;
}
#u3039 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u3040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u3040 {
  position:absolute;
  left:817px;
  top:595px;
  width:63px;
  height:16px;
  color:#FF6600;
}
#u3041 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u3042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3042 {
  position:absolute;
  left:662px;
  top:670px;
  width:64px;
  height:16px;
  color:#666666;
}
#u3043 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u3044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:45px;
}
#u3045 {
  position:absolute;
  left:800px;
  top:654px;
  width:59px;
  height:45px;
}
#u3046 {
  position:absolute;
  left:2px;
  top:14px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3047 {
  position:absolute;
  left:967px;
  top:663px;
  width:300px;
  height:58px;
}
#u3048 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3049 {
  position:absolute;
  left:1079px;
  top:678px;
  width:118px;
  height:16px;
  color:#666666;
}
#u3050 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u3051 {
  position:absolute;
  left:859px;
  top:677px;
  width:0px;
  height:0px;
}
#u3051_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u3051_seg1 {
  position:absolute;
  left:105px;
  top:-4px;
  width:8px;
  height:6px;
}
#u3051_seg2 {
  position:absolute;
  left:99px;
  top:-12px;
  width:20px;
  height:21px;
}
#u3052 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3053 {
  position:absolute;
  left:1310px;
  top:663px;
  width:300px;
  height:58px;
}
#u3054 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3055 {
  position:absolute;
  left:1422px;
  top:678px;
  width:118px;
  height:16px;
  color:#666666;
}
#u3056 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u3057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3057 {
  position:absolute;
  left:1398px;
  top:676px;
  width:20px;
  height:20px;
}
#u3058 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3059 {
  position:absolute;
  left:37px;
  top:23px;
  width:415px;
  height:16px;
}
#u3060 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u3061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3061 {
  position:absolute;
  left:513px;
  top:23px;
  width:303px;
  height:16px;
}
#u3062 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  white-space:nowrap;
}
#u3063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3063 {
  position:absolute;
  left:53px;
  top:136px;
  width:287px;
  height:32px;
  opacity:0.200000002980232;
}
#u3064 {
  position:absolute;
  left:2px;
  top:8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3066 {
  position:absolute;
  left:80px;
  top:141px;
  width:63px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u3067 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u3068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u3068 {
  position:absolute;
  left:62px;
  top:144px;
  width:15px;
  height:16px;
  color:#DFDFDF;
}
#u3069 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3070 {
  position:absolute;
  left:350px;
  top:138px;
  width:54px;
  height:30px;
}
#u3071 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u3072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3072 {
  position:absolute;
  left:314px;
  top:143px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u3073 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3074 {
  position:absolute;
  left:529px;
  top:137px;
  width:287px;
  height:32px;
  opacity:0.200000002980232;
}
#u3075 {
  position:absolute;
  left:2px;
  top:8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3077 {
  position:absolute;
  left:556px;
  top:142px;
  width:63px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u3078 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u3079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u3079 {
  position:absolute;
  left:538px;
  top:145px;
  width:15px;
  height:16px;
  color:#DFDFDF;
}
#u3080 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3081 {
  position:absolute;
  left:826px;
  top:139px;
  width:54px;
  height:30px;
}
#u3082 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u3083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3083 {
  position:absolute;
  left:790px;
  top:144px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u3084 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u3085 {
  position:absolute;
  left:157px;
  top:85px;
  width:135px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u3086 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u3087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u3087 {
  position:absolute;
  left:646px;
  top:83px;
  width:135px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u3088 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u3089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3089 {
  position:absolute;
  left:967px;
  top:611px;
  width:336px;
  height:32px;
}
#u3090 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
#u3091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3091 {
  position:absolute;
  left:967px;
  top:237px;
  width:300px;
  height:64px;
}
#u3092 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u3093 {
  position:absolute;
  left:902px;
  top:245px;
  width:65px;
  height:1px;
}
#u3094 {
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3095 {
  position:absolute;
  left:1267px;
  top:692px;
  width:0px;
  height:0px;
}
#u3095_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u3095_seg1 {
  position:absolute;
  left:29px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3096 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
