body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:967px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:586px;
}
#u193 {
  position:absolute;
  left:167px;
  top:82px;
  width:330px;
  height:586px;
}
#u194 {
  position:absolute;
  left:2px;
  top:285px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u195 {
  position:absolute;
  left:438px;
  top:569px;
  width:40px;
  height:40px;
  font-size:11px;
  color:#FFFFFF;
}
#u196 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u197 {
  position:absolute;
  left:542px;
  top:560px;
  width:310px;
  height:96px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:586px;
}
#u199 {
  position:absolute;
  left:167px;
  top:746px;
  width:330px;
  height:586px;
}
#u200 {
  position:absolute;
  left:2px;
  top:285px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:42px;
}
#u201 {
  position:absolute;
  left:167px;
  top:746px;
  width:330px;
  height:42px;
}
#u202 {
  position:absolute;
  left:2px;
  top:13px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:2px;
}
#u203 {
  position:absolute;
  left:80px;
  top:716px;
  width:887px;
  height:1px;
}
#u204 {
  position:absolute;
  left:2px;
  top:-8px;
  width:883px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u205 {
  position:absolute;
  left:167px;
  top:40px;
  width:88px;
  height:25px;
  color:#FFFFFF;
}
#u206 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u207 {
  position:absolute;
  left:166px;
  top:704px;
  width:88px;
  height:25px;
  color:#FFFFFF;
}
#u208 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u209 {
  position:absolute;
  left:328px;
  top:221px;
  width:64px;
  height:1px;
}
#u210 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u211 {
  position:absolute;
  left:328px;
  top:303px;
  width:64px;
  height:1px;
}
#u212 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u213 {
  position:absolute;
  left:328px;
  top:392px;
  width:64px;
  height:1px;
}
#u214 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u215 {
  position:absolute;
  left:328px;
  top:477px;
  width:64px;
  height:1px;
}
#u216 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u217 {
  position:absolute;
  left:328px;
  top:559px;
  width:64px;
  height:1px;
}
#u218 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u219 {
  position:absolute;
  left:328px;
  top:645px;
  width:64px;
  height:1px;
}
#u220 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u221 {
  position:absolute;
  left:328px;
  top:885px;
  width:64px;
  height:1px;
}
#u222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u223 {
  position:absolute;
  left:328px;
  top:971px;
  width:64px;
  height:1px;
}
#u224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u225 {
  position:absolute;
  left:328px;
  top:1055px;
  width:64px;
  height:1px;
}
#u226 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u227 {
  position:absolute;
  left:328px;
  top:1140px;
  width:64px;
  height:1px;
}
#u228 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u229 {
  position:absolute;
  left:328px;
  top:1227px;
  width:64px;
  height:1px;
}
#u230 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u231 {
  position:absolute;
  left:328px;
  top:1310px;
  width:64px;
  height:1px;
}
#u232 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
