body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1521px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:651px;
}
#u233 {
  position:absolute;
  left:44px;
  top:58px;
  width:367px;
  height:651px;
}
#u234 {
  position:absolute;
  left:2px;
  top:318px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:647px;
}
#u235 {
  position:absolute;
  left:603px;
  top:58px;
  width:365px;
  height:647px;
}
#u236 {
  position:absolute;
  left:2px;
  top:316px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u237 {
  position:absolute;
  left:846px;
  top:132px;
  width:41px;
  height:20px;
  color:#008000;
}
#u238 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u239 {
  position:absolute;
  left:101px;
  top:132px;
  width:41px;
  height:20px;
  color:#008000;
}
#u240 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:118px;
}
#u241 {
  position:absolute;
  left:42px;
  top:202px;
  width:369px;
  height:118px;
}
#u242 {
  position:absolute;
  left:2px;
  top:51px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  text-align:left;
}
#u243 {
  position:absolute;
  left:61px;
  top:172px;
  width:123px;
  height:20px;
  color:#008000;
  text-align:left;
}
#u244 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u245 {
  position:absolute;
  left:373px;
  top:170px;
  width:31px;
  height:24px;
}
#u246 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u247 {
  position:absolute;
  left:61px;
  top:289px;
  width:343px;
  height:20px;
  color:#666666;
  text-align:left;
}
#u248 {
  position:absolute;
  left:2px;
  top:2px;
  width:339px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:653px;
}
#u249 {
  position:absolute;
  left:1153px;
  top:58px;
  width:368px;
  height:653px;
}
#u250 {
  position:absolute;
  left:2px;
  top:318px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u251 {
  position:absolute;
  left:218px;
  top:377px;
  width:64px;
  height:1px;
}
#u252 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u253 {
  position:absolute;
  left:218px;
  top:461px;
  width:64px;
  height:1px;
}
#u254 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u255 {
  position:absolute;
  left:774px;
  top:459px;
  width:64px;
  height:1px;
}
#u256 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  white-space:nowrap;
}
