body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2136px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:648px;
}
#u3176 {
  position:absolute;
  left:89px;
  top:27px;
  width:369px;
  height:648px;
}
#u3177 {
  position:absolute;
  left:2px;
  top:316px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:651px;
}
#u3178 {
  position:absolute;
  left:659px;
  top:27px;
  width:367px;
  height:651px;
}
#u3179 {
  position:absolute;
  left:2px;
  top:318px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:647px;
}
#u3180 {
  position:absolute;
  left:1218px;
  top:27px;
  width:365px;
  height:647px;
}
#u3181 {
  position:absolute;
  left:2px;
  top:316px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u3182 {
  position:absolute;
  left:1461px;
  top:101px;
  width:41px;
  height:20px;
  color:#008000;
}
#u3183 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u3184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u3184 {
  position:absolute;
  left:716px;
  top:101px;
  width:41px;
  height:20px;
  color:#008000;
}
#u3185 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u3186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:118px;
}
#u3186 {
  position:absolute;
  left:657px;
  top:171px;
  width:369px;
  height:118px;
}
#u3187 {
  position:absolute;
  left:2px;
  top:51px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
  text-align:left;
}
#u3188 {
  position:absolute;
  left:676px;
  top:141px;
  width:123px;
  height:20px;
  color:#008000;
  text-align:left;
}
#u3189 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u3190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u3190 {
  position:absolute;
  left:988px;
  top:139px;
  width:31px;
  height:24px;
}
#u3191 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u3192 {
  position:absolute;
  left:676px;
  top:258px;
  width:343px;
  height:20px;
  color:#666666;
  text-align:left;
}
#u3193 {
  position:absolute;
  left:2px;
  top:2px;
  width:339px;
  word-wrap:break-word;
}
#u3194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:653px;
}
#u3194 {
  position:absolute;
  left:1768px;
  top:27px;
  width:368px;
  height:653px;
}
#u3195 {
  position:absolute;
  left:2px;
  top:318px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
